---
import ImgCarousel from "./ImgCarousel.astro";

---

<section id="LastVideos" class="min-w-screen pb-10 h-full w-full flex flex-col items-center py-2 px-2">
    <h4 class="text-4xl font-bold mb-4 text-gray-50">Mira mis ultimos videos</h4>
    <div class="flex w-full flex-col items-center justify-center mt-8">
            <ImgCarousel />
        <div>
        </div>
    </div>
</section>
<style>
    #LastVideos{
    }
</style>